body {
    width: 100%;
    margin: 0;
    height: 100vh;
}

.header {
    color: #FFE6A9;
    background-color: #DEAA79;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    padding: 8px 24px;
}

ul {
    font-family: "Montserrat Alternates", serif;
    font-weight: bold;
    font-style: normal;
    width: max-content;
    margin: 0 auto;
    padding: 0;
}

ul li {
    display: inline-block;
    border: 1px solid #FFE6A9;
    padding: 20px;
}

a {
    color: #B1C29E;
    text-decoration: none;
}